@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--surface-a0);
  font-family: Georgia, 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1px;
}